h1{
    color: white;
    text-align: center;
}
table{
    width: 100%;
}
th{
    color: white;
    width: 25%;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
}
#product{
    width: 60%;
    box-sizing: border-box;
    transition: border-color 0.3s;

}
div{
    padding: 14px;
}
td{
    color: DarkSlateGray;
    width: 20%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid black;
   
}
#button{
    text-align: center;
}
  
#No_border{
    color: DarkSlateGray;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
  
}

body{
    background-color:black;
}
label{
    color: white;
}
.Bold {
    font-weight: bold;
}
p{
    color: white;
}
#result{
    font-size: 20px;
}
